body {
  background: linear-gradient(
    to right,
    #ff0000,
    #ffff00
  ); /* mặc định là gradient từ màu đỏ đến vàng */
}

#color1 {
  margin-right: 20px;
}

#color2 {
  margin-left: 20px;
}

.color-display {
  font-size: 18px;
  margin-top: 10px;
}
